.player {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
width: 100%;
padding: 15px;
  border: solid black 1px;
}

.player-active-false {
  background-color: rgb(212, 212, 212);
}

.player-active-true {
  background-color: white;
}

.cardHolder {
display: flex;
flex-wrap: wrap;
flex-direction: row;
padding: 5px;
}

.name {
  display: flex;
  width: 100%;
}

.scorePile {
width: 100%;
display: flex;
}
